@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}


/* Tool tip*/

.tooltip {
    position: relative;
    display: inline-block;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 6px;
    background-color: aliceblue;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-top: 3px;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: all;
    transition-duration: 700ms;
}

.custom-duration {
    transition-duration: 1200ms;
}

.sm-custom-width {
    width: 600px;
}

.h-big {
    height: 5000px;
    width: auto;
}

.custom-width {
    width: 450px;
}

.custom-height {
    height: 450px;
}

.size {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}


/* Curve shapes */

.custom-shape-divider-top-1676354291 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1676354291 svg {
    position: relative;
    display: block;
    width: calc(156% + 1.3px);
    height: 147px;
}

.custom-shape-divider-top-1676354291 .shape-fill {
    fill: #A16207;
}

.custom-shape-divider-top-1676259761 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1676259761 svg {
    position: relative;
    display: block;
    width: calc(129% + 1.3px);
    height: 121px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1676259761 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1676258959 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676258959 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1676258959 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1676258472 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676258472 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1676258472 .shape-fill {
    fill: #EAB308;
}

.radial-blue {
    background: radial-gradient(rgb(253, 253, 107), skyblue);
}

.google-font {
    font-family: 'Quicksand';
}

.quick-font {
    font-family: 'Quicksand';
}

.other-font {
    font-family: 'Urbanist', sans-serif;
}

.type-animation {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .20em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}